<header>
  <div id="logo">
    <img src="/img/logo.jpg" alt "Logo of the site"/>
  </div>
  <div>
    <ul class="menu">
      <li><a href="index">Home</a></li>
      <li><a href="#">Elemento 2</a></li>
      <li><a href="#">Elemento 3</a></li>
      <li><a href="#">Elemento 4</a></li>
      <li><a href="#" style="border-right: none">Elemento 5</a></li>
    </ul>
  </div>
</header>
